.nav-wrapper {
	display: flex;
	gap: 16px;
	margin-top: 5px;
}

.nft-container {
	display: grid;
	gap: 16px;
	margin-top: 5px;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.about-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

@media only screen and (max-width: 600px) {
	.nav-wrapper, .nft-container {
		flex-direction: column;
	}

	.about-container {
		grid-template-columns: 1fr;
	}
}
